<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.title</title>
        <link rel="stylesheet" href="~/css/site.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_right_alt"/>
        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Startsidan</a></li>
                <li><a href="/Product">Produkter</a></li>
                <li><a href="/AboutUs">Om oss</a></li>
                <li><a href="/Contact">Kontakt</a></li>
            </ul>
        </nav>
        <main>
        @RenderBody()
        </main>
        <footer>
            <p>© @DateTime.Now.Year The Wood Atelier All Rights Reserved.</p>
        </footer>
    </body>
</html>
