<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.title</title>
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Startsidan</a>
                </li>
                <li>
                    <a href="/product">Produkter</a>
                </li>
                <li>Om oss</li>
                <li>
                    <a href="/contact">Kontakt</a>
                </li>
            </ul>
        </nav>
        <main>
        @RenderBody()
        </main>
        <footer>
            <p>© @DateTime.Now.Year The Wood Atelier All Rights Reserved.</p> 
        </footer>
    </body>
</html>
