@model IEnumerable<Product>
<h1>Alla produkter:</h1>
@foreach (var product in Model)
{
    <div>
        <a href="product/info/@product.ProductId">
            <h2>@product.Name</h2>
            <img src=@product.ImageUrl width="150px" height="150px">
            <p>Pris: @product.Price kr</p>
        </a>
    </div>
}
