<div class="mainCard">
    <div class="borderBox">
        <h1>The <br/> Wood <br/> Atelier</h1>
        <div class="imgHolder">
        <img src="/img/mirror3.png">
        <img src="/img/table1.png">
        <img src="/img/chair3.png">
        </div>
    </div>
    <div>
        <p>The Element Atelier brings extraordinary, distinctive furniture and unique, wooden features. We features wood products and handcrafted home accessories and gifts. Each piece of wood has its own story that started long before its got to us.</p>
        <a href="/contact" class="btn">Kontakta oss</a>
    </div>
</div>
