<div class="mainCard">
    <div class="borderBox">
        <h1>The <br/> Wood <br/> Atelier</h1>
        <div class="imgHolder">
        <img src="/img/mirror3.png">
        <img src="/img/table1.png">
        <img src="/img/chair3.png">
        </div>
    </div>
    <div>
        <p>The Element Atelier erbjuder extraordinära, distinkta möbler och unika trädetaljer. Vi erbjuder träprodukter och handgjorda heminredningsartiklar samt gåvor. Varje träbit har sin egen historia som började långt innan den kom till oss.</p>
        <partial name="_ContactButton"/>
    </div>
</div>
