/* Basestyle */
html {
  font-size: 1.3rem;
  padding: 0;
}

body,
html {
  margin: 0;
  position: relative;
  color: beige;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(14, 23, 37);
  padding: 0 10%;
}

/* Buttons and Links */
.btn {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(23, 38, 62);
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  text-transform: uppercase;
  max-width: 1080px;
}

a {
  text-decoration: none;
  color: beige;
}

p,
a,
h2,
h1 {
  letter-spacing: 0.03rem;
  line-height: 1.8rem;
}

/* Layout */
footer {
  font-size: 1rem;
  padding: 30px 0;
  text-align: center;
}

nav {
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding-left: 15px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Background Images */
.background-image-top-left {
  top: 0;
  left: 0;
  width: 500px;
  height: 700px;
  background-image: url('/img/decoration/wood2.png');
}

.background-image-bottom-right {
  bottom: 0px;
  right: 0px;
  width: 410px;
  height: 690px;
  background-image: url('/img/decoration/wood3.png');
}

.background-image-bottom-right,
.background-image-top-left {
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Home page */
.mainCard {
  width: 70%;
  max-width: 1100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 20px 8px rgba(0, 0, 0, 0.2);
}

.mainCard div {
  width: 50%;
  margin: 10px;
}

.imgHolder {
  display: flex;
  gap: 10px;
}

.imgHolder img {
  width: 100px;
}

.categoriesHolder a {
  display: flex;
  gap: 10px;
}

section {
  display: flex;
  gap: 30px;
  padding: 10px 0;
  align-items: center;
}

.rowReverse {
  flex-direction: row-reverse;
}

section img {
  width: 250px;
  width: 250px;
  box-shadow: -6px 6px 10px 1px rgba(0, 0, 0, 0.2);
}

.rowReverse img {
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.2);
}

section:not(:first-of-type) div {
  border-top: 1px solid beige
}

.categoriesHolder {
  width: 70%;
  max-width: 1100px;
  padding: 50px 0;
}

.categoriesHolder h2,
.materialsHolder h2 {
  text-align: center;
  padding-bottom: 30px;
}

.materialsHolder {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 20px;
  justify-content: center;
  padding: 50px;
}

.materialsHolder h2 {
  grid-column: span 3;
}

.materialsHolder div {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  flex: 0 0 150px;
}

/* Products */
.cardHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 230px;
  background-color: rgb(23, 38, 62);
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  height: 70px;
  font-size: 1.5rem;
}

/* category page */
.categoryDescription {
  padding: 0 50px 50px;
  text-align: center;
}

/* productInfo */
.description {
  max-width: 100%;
  font-style: italic;
}

.productImg {
  max-width: 100%;
}

/* about us */
.fingerPrintImg {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.aboutDescription {
  width: 70%;
  margin: 30px;
}

/* Media Queries */
@media (min-width:1001px) {
  .borderBox {
    border-right: 1px solid beige;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1335px) {
  .mainCard {
    width: 90%;
    max-width: 1200px;
  }
}

@media (min-width: 2000px) {

  .background-image-bottom-right,
  .background-image-top-left {
    background-image: none;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }

  .mainCard {
    flex-direction: column;
  }

  .mainCard div {
    width: 100%;
  }

  .categoriesHolder {
    width: 100%;
  }

  .aboutDescription {
    width: 90%;
  }
}

@media (max-width:610px) {
  .materialsHolder {
    grid-template-columns: repeat(2, 150px);
  }

  .materialsHolder h2 {
    grid-column: span 2;
  }

  .background-image-bottom-right {
    background-image: none;
  }

  .categoryDescription {
    text-align: start;
    padding: 0;
  }

  .imgHolder {
    margin: 0;
  }

  .imgHolder img {
    width: 80px;
  }

  section {
    flex-direction: column;
  }

  .rowReverse {
    flex-direction: column;
  }

  .address {
    text-align: center;
  }
}